<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:site_name" content="RCPart.Info"/>
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="product" />
    {% if availability != None %}<meta property="product:availability" content="{{ availability }}" />{% endif %}
    {% if price != None %}<meta property="product:price:amount" content="{{ price }}" />
    <meta property="product:price:currency" content="{{ currency }}" />{% endif %}
    <meta property="fb:admins" content="10719338" />
    <meta property="fb:app_id" content="1486228695005984" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>{{ description }}
       {% if price != None %} - {{ price }} {{ currency }}{% endif %}
       {% if availability != None %} - {{ availability }}{% endif %}</p>
    <img src="{{ image }}"/>
  </body>
</html>
